@import url(header.css);
@import url(footer.css);

:root{
    --cor1: #9b7acb;
    --cor2: #f76ead;
    --cor3: #f29748;
    --cor4: #f2dc48;
    --cor5: #48f2e7;
    
}

@font-face {
    font-family: littlemiss;
    src: url(../fonts/Littlemisspriss-LPlW.ttf); 
}
@font-face {
    font-family: HelloDoodles;
    src: url(../fonts/HelloDoodles.ttf);
}
@font-face {
    font-family: MisteryQuest;
    src: url(../fonts/MysteryQuest.ttf);
}
@font-face {
    font-family: Carissa;
    src: url(../fonts/Carissa\ FREE.ttf);
}
@font-face {
    font-family: DuniaKita;
    src: url(../fonts/DuniaKita.otf);
}


/*Noto sans display*/

*{
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


.main{
    background-image: url("../img/Background1.jpg");
    position: absolute;
    opacity: 0.2;
    height:100vh;
    
    
    
}


main{
    display: flex;
    flex-direction: row;
}
