footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100px;
    width: 100%;
    background: purple;
    font-family: EmilyCandy;
    
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}