
.principal{
   
    padding:10px;
    
    width: 60%;
    margin:40px 10px 0 0px ;
    border-radius: 5px;
    border: 1px solid red;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    opacity: 0.8;
    
}


aside, p{
    font-size: 0.8em;
}

