
.principal{
   
    padding:10px;
    height: 500px;
    width: 60%;
    margin:40px 10px 0 5px ;
    border-radius: 5px;
    
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    opacity: 0.8;
    margin-bottom: 100px;
}

.esquerda{
    height: 500px;
    width:20%;

}
aside, p{
    font-size: 0.8em;
}

